extends layout

block content
    .main.content
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Find Prices For Bugs And Fishes
                // register form
                form(method='POST' action='/price')
                        +input("text","txtName","Name","Name")
                        +radio-inline("Bug")
                        +radio-inline("Fish")
                        +submit("Look Up")
